modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 8083
externalPort = 8008

[[ports]]
localPort = 8084
externalPort = 9000

[[ports]]
localPort = 18624
externalPort = 3000

[[ports]]
localPort = 18625
externalPort = 5173

[[ports]]
localPort = 20130
externalPort = 3002

[[ports]]
localPort = 20131
externalPort = 4200

[[ports]]
localPort = 20132
externalPort = 8000

[[ports]]
localPort = 22011
externalPort = 6000

[[ports]]
localPort = 22012
externalPort = 8099

[[ports]]
localPort = 22013
externalPort = 8081

[[ports]]
localPort = 22981
externalPort = 3001

[[ports]]
localPort = 22982
externalPort = 5000

[[ports]]
localPort = 22983
externalPort = 6800

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
APP_URL = "https://aorane.onrender.com"
EXPO_PUBLIC_GOOGLE_CLIENT_ID = "145783039315-m1vgfekobq5nkkf90rns4nb9khh6amcv.apps.googleusercontent.com"
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyCKyvmW9BTn1ZLhFdXyHjHUQPCmgeuH87A"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:294648735770:web:76c6a1856f829ac316c9a3"
FIREBASE_API_KEY = "AIzaSyCKyvmW9BTn1ZLhFdXyHjHUQPCmgeuH87A"
RESEND_FROM_EMAIL = "otp@aorane.com"
