node_modules/
.git/
dist/
static-build/
android/
ios/
*.log
.DS_Store
../../attached_assets/
../../node_modules/
../../.local/
../../public/
../../admin-panel-dist.tar.gz
../../AORANE_UI_DESIGN_PROMPT.md
